
*{
    box-sizing: border-box;
    margin: auto;
}

/*Course title CSS*/
.BoxOne{

    /*light color main box 1*/

    /* margin and padding */
    margin-left: 40%;
    margin-top: 25%;


    /*flex box*/
    display: flex;
    justify-content: flex-start;

    padding: 80px ;
    
    position: fixed;  
    background-color: rgb(208, 232, 250);
    width: 95%;
    height: 100%;
    border-radius: 35px;
}

