.footer{
        padding: 1px 500px;
        
        text-align: center;
        background-color: white;
        position: fixed;
        bottom:0;
        left: 0;
        width: 100%;
        align-items: center;
    
}
.footer.img{
    width: 5%;
    padding: 1px;
}



