
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;900&family=Open+Sans:wght@700&display=swap');


*{
   background-color: #B2E4FA;
   background-size: 100%;
   box-sizing: border-box;
   margin: 0%;
}

  .contentAll{
   margin-top: 50px;
   
  }
  .secondBox{
   background-color:#e0f4fd ;
   border-radius: 30px;
   width: 1571px;
   height: 860px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   text-align: left;
   margin: 109px 50px 83px  236px;  
}

.header{
   color:#6C6C6C ;
   font-family: 'Nunito', sans-serif;
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   font-size: 30px;
}

.exportpdf{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-family: 'Open Sans', sans-serif;
   color:#6C6C6C ;
   
}

.studentAll{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: left;
}

.ProgressBar{
   width:65%;
   background-color:#FFFFFF;
  margin: auto;
   padding: 30px 20px;
   border-radius: 15px;


}
.ProgressBarName{
   font-family:'Open Sans', sans-serif;
   font-size: 20px;
   color: #707070;
   
}
.CompletedPojects{
   color: #707070;
   font-size: 14px;
}